<footer class="footer">
  <div class="container-fluid">
    <div class="main-footer row">
      
      <div class="row col-lg-12 col-12">
        <div class="footer-col col-lg-5 col-12">
        <a href="index.html"> 
          <img src="img/logo-white.png"></a> 
           <p>We focus on the needs of small to middle market businesses to improve and grow their return.</p>
          </div> 

        <div class="footer-col col-lg-2 col-md-6">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#demos">Web Design</a></li>
            <li><a href="#features">Web Development</a></li>
            <li><a href="#elements">Facebook Ads</a></li>
            <li><a href="#support">Google Ads</a></li> 
          </ul>
        </div>

        <div class="footer-col col-lg-2 col-md-6">
          <h4>Get Help</h4>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms Of Services</a></li> 
          </ul>
        </div>

        <div class="footer-col col-lg-3 col-md-6">
          <h4>Follow Us</h4>
          <div class="addreres">
            <ul>
              <li><a href="mailto:info@outboundclick.com"><i class="bi bi-envelope"></i><p>info&#64;outboundclick.com</p></a></li>
              <li><a href="tel:+919829301002"><i class="bi bi-telephone"></i><p>+91-9829301002</p></a></li>
            </ul>
          </div>
          <div class="social-links">
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-youtube"></i></a>
            <a href="#"><i class="bi bi-twitter-x"></i></a> 
          </div>
        </div>
      </div>
    </div>

    <div class="copy-right">
      <h6>© 2025 — OutboundClick.com. All Rights Reserved.</h6>
    </div>
  </div>
</footer>
