  .review {
    display: flex;
    align-items: center;
  }

  .clutchflex {
    text-align: left;
    margin-bottom: 10px;
  }

  .card.sizes-pros {
    background-color: aliceblue;
  }

  .review-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 1 100%;
    margin-bottom: 20px;
    justify-content: center;
  }

  .review-box img {
    height: 60px;
    margin-right: 15px;
  }

  .main-flex  {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.boxiseda {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
img.sizing-fit {
    width: 75px;
}

.slide {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
  .stars {
    color: rgb(252 112 52);
    font-size: 24px;
    margin: 0 10px;
  }

  .rating {
    font-size: 18px;
  }

  .border-only {
    font-size: 16px;
    width: 270px;
    font-weight: 600;
    background-color: #fff !important;
    color: #404040;
    padding: 15px 50px;
    border-radius: 10px;
    font-family: var(--poppins-font);
    text-decoration: none;
    border: 2px solid #d0d0d0;
  }

  .card.absolutet img {
    height: revert-layer;
  }

  .card.absolutet {
    background-color: transparent;
    border: none;
  }

  .card {
    border-radius: 20px;
    padding: 30px 20px;
    text-align: center;
    color: #e4005d;
    font-weight: bold;
    font-size: 24px;
    border: none;
  }

  .trustsection .card {
    width: 25%;
  }

  .chooes-section .content-con span {
    color: #333;
    font-weight: 600;
  }

  .trustsection .card.sizes-pros:after {
    content: "";
    background: #ee4f7733;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 20px;
    opacity: 0.8;
    z-index: 9;
  }

  .trustsection .card.sizes-pros h4 span.sizes {
    min-height: 59px;
    margin-top: 10px;
    color: #17313b;
    font-weight: 600;
    font-size: 1.5rem;
  }

  .trustsection .card.sizes-pros h4 {
    color: #f46d85;
    font-weight: bold;
    font-size: 2rem;
  }

  .trustsection .card.sizes-pros img,
  .trustsection .card.sizes-pros h4,
  .trustsection .card.sizes-pros p {
    position: relative;
    z-index: 99;
  }

  .trustsection .card.sizes-pros {
    background-size: 111px;
    background-repeat: no-repeat;
    background-position: bottom 0px right 20px;
  }

  .rating {
    margin-left: 25px;
    text-align: left;
    line-height: 30px;
  }

  .card p {
    margin: 10px 0 0;
    font-size: 16px;
    font-weight: 500;
    color: #17313b;
  }

  .border-only:hover {
    color: #ffffff;
    background-color: #a9343b !important;
    border: none !important;
  }

  .b-alge h4 {
    font-size: 2.3rem;
  }

  .center-buonds {
    margin-top: 20px;
  }

  .cta-card {
    flex: 1 1 280px;
    background: linear-gradient(90deg, #923bde, #3276ff);
    color: white;
    border-radius: 20px;
    padding: 30px 20px;
    text-align: center;
  }

  .cta-card p {
    margin-bottom: 15px;
    font-size: 18px;
  }

  .cta-card a {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
  }

  .about-info p {
    max-width: 70%;
    margin: 0 auto 30px;
  }

 

 
  /******************/
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(-250px * 7));
    }
  }

  .slider {
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
  }

  .slide-track {
    display: flex;
    width: calc(250px * 14);
    animation: scroll 40s linear infinite;
  }

  .slide {
    height: 100px;
    width: 250px;
  }

  .banner h1 {
    font-size: 55px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 30px;
  }

  .banner p {
    font-size: 1rem;
    max-width: 800px;
    margin: 0 auto 40px;
    color: #0d0d0d;
    font-weight: 400;
  }
section.bootom {
    padding-top: 0;
}
  .buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  .btn-orange {
    background-color: #f94700;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    box-shadow: 4px 4px 0 #ccc;
    cursor: pointer;
  }

  .btn-black {
    background-color: #000;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    box-shadow: 4px 4px 0 #ccc;
    cursor: pointer;
  }

  .graphic-left {
    position: absolute;
    top: 125px;
    left: 40px;
    width: 200px;
  }

  .graphic-right {
    position: absolute;
    bottom: 60px;
    right: 40px;
    width: 200px;
  }

  .flexs-wrap {
    display: flex;
  }

  

  /****************************************/


  @media (max-width: 1600px) {
 .reviwe {
    width: 55%;
}
  }

  @media (max-width: 1024px) {
    .hero {
      padding-top: 250px;
    }
.center-buonds a.cusumebutton { 
    width: 30%; 
}
.case-study {
    height: auto;
}
    .flexs-wrap {
      display: flex;
    }

    .graphic-right {
      width: 90px !important;
    }

    .trustsection .card.sizes-pros h4 span.sizes {
      font-size: 1.3rem;
    }

.main-flex  { 
    flex-wrap: wrap;
    justify-content: center;
}


  }

  @media (max-width: 767px) {
    .banner h1 {
      font-size: 2rem;
      line-height: 2.5rem;
    }
.sticky-div { 
    height: auto;
}
    .section-title h2 {
        font-size: 25px;
    }
    .flexs-wrap {
      flex-wrap: wrap;
    }
.chooes-section .section-title {
    text-align: center; 
}
.text-left {
    text-align: center;
}
.content-con span {
    text-align: left;
    margin-left: 10px;
}
    .left-smart-content h3 {
        font-size: 25px;
    }
    .section-title h2 {
    text-align: center;
}
.contact-form .section-title {
    text-align: center;
}
.right-img::after { 
    right: -7px;
    top: 6px; 
    z-index: -9;
    height: 468px;
}
.right-img img { 
    height: 500px; 
}
.right-img { 
    height: 520px; 
}
    .flex-items p {
    text-align: left;
}
    .faq .faq-title {
        font-size: 25px;
    }
    .left-smart-content {
    padding-left: 0px;
    text-align: center;
}
    .review {
      flex-wrap: wrap;
      gap: 10px;
      width: 100%;
      justify-content: center;
    }
    .rating {
    margin-left: 0px; 
}
.clutchflex  {
    text-align: center; 
}

    .graphic-left {
      display: none;
    }

    .hero .hero-content h1 .accent-text {
      font-size: 2rem;
    }

    .graphic-right {
      display: none;
    }

    .header .logo img {
      width: 200px;
    }

    .hero-buttons {
      display: block;
    }

    .border-only {
      width: 100%;
    }

    .cutomeherobutton {
      width: 100%;
      margin-bottom: 10px;
    }

    .hero {
      padding-top: 120px;
    }
   
    .platform-eading {
        padding: 30px 0px;
    }
        .platform-eading h3 {
        font-size: 25px;
    }
    .testimonials .section-title {
    text-align: center;
}
p.text-muted {
    text-align: center;
}
  }

  @media (max-width: 768px) {
    .review-box {
      flex-direction: column;
      align-items: center;
    }


    .review-box img {
      margin-bottom: 10px;
    }

    .main-flex {
      flex-wrap: wrap;
    }

    .trustsection .card {
      width: 100%;
    }

    .center-buonds a.cusumebutton {
      width: 80%
    }

    .about-problum {
      flex-wrap: wrap;
    }

    .about-grid {
      display: block;
    }

    img.graphic-left.rights-google { 
    top: 155px;
}
    .graphic-left  { 
    top: 145px; 
}
.graphic-right  { 
    bottom: 0px; 
}
  }


  @media (max-width: 600px) {
    .hero {
        padding-top: 165px;
    }

  }