<main class="main">
  <!-- Hero Section -->
  <section id="hero" class="hero section">
    <div class="container-fluid">
      <!-- <div class="row align-items-center">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="hero-content" data-aos="fade-up" >
            <h1 class="mb-4"> Scale Your Business with Paid Ads <br>
              <span class="accent-text">That Actually Work.</span>
            </h1>
            <p class="mb-4 mb-md-5">
              Meta, Google & Bing Ads that deliver qualified leads, real sales, and scalable.<br>
              ROAS — handled by growth experts who care about your business like it's their own.
            </p>
            <div class="hero-buttons">
              <a href="#about" class=" cutomeherobutton me-0 me-sm-2 mx-1"><span>Book Your Free Strategy Call</span>
              </a>
              <a href="#about" class=" cutomeherobutton  me-0 me-sm-2 mx-1"><span>Get Enquiry</span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-1"></div>

      </div>
     <div class="logo-flex">
        <div class="customers-badge">
          <div class="customer-avatars">
            <img src="img/download.png" alt="Customer 1" class="avatar">
          </div>
        </div>
        <div class="customers-badge">
          <div class="customer-avatars">
            <img src="img/february.png" alt="Customer 1" class="avatar">
          </div>
        </div>
        <div class="customers-badge">
          <div class="customer-avatars">
            <img src="img/3madd.svg" alt="Customer 1" class="avatar">
          </div>
        </div>
      </div>  -->

      <div class="banner">
        <img src="img/february.png" alt="left graphic" class="graphic-left" data-aos="fade-up" />
        <img src="img/download.png" alt="rights-google" class="graphic-left rights-google" data-aos="fade-up" />

        <div class="hero-content" data-aos="fade-up">
          <h1 class="mb-4"> Scale Your Business With Paid Ads <br>
            <span class="accent-text">That Actually Perform.</span>
          </h1>
          <p>
            Meta, Google & Bing Ads that deliver qualified leads, real sales,
            and scalable.<br>
            ROAS — handled by growth experts who care about your business like
            it's their own.
          </p>
          <div class="hero-buttons">
            <a target="_blank" href="https://calendly.com/govind-outboundclick/30min?month=2025-06"
              class=" cutomeherobutton me-0 me-sm-2 mx-1"><span>Book Your Free
                Strategy Call</span>
            </a>
            <a href="#contact" class=" border-only me-0 me-sm-2 mx-1"><span>Contact Us</span>
            </a>
          </div>
        </div>
        <img src="img/3madd.svg" alt="right graphic" class="graphic-right" data-aos="fade-up" />
      </div>
    </div>

  </section>

  <section class="trustsection">
    <div class="container">
      <div class="main-flex">
        <div class="reviwe">
          <div class="clutchflex">
            <p>REVIEWED ON <span class="stars">★★★★★</span> <br /></p>
          </div>
          <div class="review">
            <a href="https://clutch.co/profile/outbound-click"><img src="img/clutch_logo.svg" alt="Clutch Logo"
                height="40" /></a>
            <div class="rating">
              <p>Average Review Rating <br><span>4.9/5.0</span> </p>
            </div>
          </div>
        </div>

        <div class="card sizes-pros" style="background-image:url('img/ptr_img4.png');">
          <img src=" ">
          <h4>100+ <br> <span class="sizes"> Projects</span></h4>
          <p>We Have Completed</p>
        </div>
        <div class="card sizes-pros" style="background-image:url('img/ptr_img3.png');">
          <h4>10+<br /> <span class="sizes">Team Members</span> </h4>
          <p>Team Members</p>
        </div>
        <div class="card sizes-pros" style="background-image:url('img/ptr_img2.png');">
          <h4>100%<br /> <span class="sizes">Customer
              Satisfaction</span></h4>
          <p>Proven Track Record</p>
        </div>
        <div class="card sizes-pros" style="background-image:url('img/ptr_img.png');">
          <h4>7+<br /> <span class="sizes">Years</span> </h4>
          <p>Proven Track Record</p>
        </div>
      </div>

    </div>
  </section>

  <section id="about" class="about section">
    <div class="about-custme-fle">
      <div class="about-info">

        <div class="container-fluid section-title" data-aos="fade-up">
          <h2>Tired of Burning Money on Ads
            with No
            Returns?</h2>
          <img src="img/shape.png" class="spapeheading">
          <p>Running paid ads shouldn't
            feel like
            gambling. At Outbound Click, we create ad
            campaigns grounded in data, psychology, and deep platform expertise
            — so your business gets real results,
            not just clicks </p>
        </div>
      </div>
      <div class="about-grid">
        <div class="about-problum">
          <div class="bg-bropulem" style="background-image:url(./img/frtyui.jpg)"></div>
          <div class="b-alge" data-aos="fade-up">
            <h4>Problem</h4>
            <img class="spapeheading" src="img/shape.png" />
            <ul class="feature-list ">
              <li><i class="bi bi-check-circle-fill"></i>
                <div class="line1">
                  <strong>No Leads. High CPL. Poor Quality Inquiries.</strong><br>
                  You're paying for traffic, not results. Sound familiar?
                </div>
              </li>
              <li><i class="bi bi-check-circle-fill"></i>
                <div class="line1">
                  <strong>No Sales. Low ROAS. Stuck Scaling.</strong><br>
                  Campaigns plateauing — or never getting off the ground?
                </div>
              </li>
              <li><i class="bi bi-check-circle-fill"></i>
                <div class="line1">
                  <strong>Low AOV. No Repeat Buyers. 🙏 “God Help Me” Mode.</strong><br>
                  Your funnel's leaking and you're stuck in panic mode.
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="about-solution">
          <div class="bg-bropulem" style="background-image: url(./img/towmain.jpg);"></div>

          <div class="b-alge" data-aos="fade-up">
            <h4>Solution</h4>
            <img class="spapeheading" src="img/shape.png" />
            <ul class="feature-list">
              <li><i class="bi bi-check-circle-fill"></i>
                <div class="line1">
                  <strong>Placement. Demographics. Validation.</strong><br>
                  Laser-targeted ads that attract the right people, not random
                  clicks.
                </div>
              </li>
              <li><i class="bi bi-check-circle-fill"></i>
                <div class="line1">
                  <strong>Funnel. Offer. CCBC Method.</strong><br>
                  Full-funnel campaigns built to convert cold traffic into
                  customers.
                </div>
              </li>
              <li><i class="bi bi-check-circle-fill"></i>
                <div class="line1">
                  <strong>Bundles. Retention. Chaos Fixed.</strong><br>
                  Increase order value and repeat sales with smart systems.
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section>
  <section class="wpo-choose-section">
    <div class="platform-eading" data-aos="zoom-in">
      <div class="dominateimg">
        <h3>Platforms We Dominate</h3>
        <img class="spapeheading" src="img/shape.png">
      </div>

    </div>
    <div class="Platforms-list ">
      <div class="Platforms-ontents" data-aos="zoom-in" style="background-image: url(./img/corporate-management.jpg);">
        <div class="feature-card">
          <div class="content-Platforms">
            <div class="icon-hovers">
              <img src="img/social-media.png">
            </div>
            <h6>Meta Ads (Facebook & Instagram) </h6>
            <p>High-performing creatives, targeted audiences, full-funnel
              testing, and real-time scaling</p>
          </div>
        </div>
      </div>
      <div class="Platforms-ontents" data-aos="zoom-in"
        style="background-image: url(./img/modern-equipped-computer-lab.jpg);">
        <div class="feature-card">

          <div class="content-Platforms">
            <div class="icon-hovers">
              <img src="img/google.png">
            </div>
            <h6>Google Ads</h6>
            <p>Search, Display & YouTube campaigns focused on buying intent
              keywords</p>
          </div>
        </div>
      </div>
      <div class="Platforms-ontents" data-aos="zoom-in"
        style="background-image: url(./img/businesspeople-working.jpg);">
        <div class="feature-card">
          <div class="content-Platforms">
            <div class="icon-hovers">
              <img src="img/bing.png">
            </div>
            <h6>Bing Ads</h6>
            <p>Untapped high-ROI audience with less competition and cheaper
              CPCs</p>
          </div>
        </div>
      </div>

    </div>
    <div class="center-buonds">
      <a href="https://calendly.com/govind-outboundclick/30min?month=2025-06" target="_blanks" class="cusumebutton">

        <span>Book a Free Audit</span>
        <i class="bi bi-arrow-right-short"></i>
      </a>

    </div>
  </section>
  <section class="aliconboder">
    <div class="container-fluid">
      <div class="section-title">
        <h2 data-aos="fade-up">See What Happens When Strategy Meets
          Execution</h2>
        <img src="img/shape.png" class="spapeheading">
      </div>
      <div class="row">
        <div class="col-lg-12">
          <app-video-slider></app-video-slider>
        </div>
        <!-- <div class="col-lg-8">
          <div class="flex-bledsr">
            <div class="case-study" data-aos="zoom-in" >

              <div class="content-case">
                <h5>Scaled to $<span>{{ dollarCounter }}</span>/month in 3 months with 5x ROAS</h5>
              </div>
              <div class="icon-case">
                <i class="bi bi-graph-up-arrow me-2"></i>
              </div>
            </div>

            <div class="case-study" data-aos="zoom-in" >

              <div class="content-case">
                <h5>Generated <span>{{ leadCounter }}</span>+ qualified leads in 30 days for a local clinic</h5>
              </div>
              <div class="icon-case">
                <i class="bi bi-person-lines-fill me-2"></i>
              </div>
            </div>

            <div class="case-study" data-aos="zoom-in" >

              <div class="content-case">
                <h5>Helped a supplement brand 2x their AOV through retargeting ads</h5>
              </div>
              <div class="icon-case">
                <i class="bi bi-capsule-pill me-2"></i>
              </div>
            </div>
          </div>
        </div> -->
      </div>

      <div class="flexitremfdr">
        <div class="bg-gojhr">
          <a href="https://calendly.com/govind-outboundclick/30min?month=2025-06" target="_blanks"
            class=" cutomeherobutton dark"><span>Book a Free
              Audit</span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section>
    <app-short-video></app-short-video>

  </section>






  <section id="services" class="services section ">
    <div class="container-fluid section-title" data-aos="fade-up">
      <h2>Why Hiring a Trusted Indian Agency Makes Sense”</h2>
      <img src="img/shape.png" class="spapeheading">
      <p>Over 300,000 US companies already outsource to India — including many
        Fortune 500s.
        Why? Because the results speak for themselves.
      </p>
      <p>At Outbound Click, we’ve been working with US clients for over a decade. Here’s
        why our clients stick with us:</p>
    </div>
    <div class="container-fluid ">
      <div class="row">
        <div class="col-lg-6 col-12 hiring-stky">

          <img src="img/business-people.jpg">
        </div>
        <div class="col-lg-6 col-12">
          <div class="row g-4">

            <div class="col-lg-12">
              <div class="service-card d-flex" data-aos="fade-up">
                <div class="icon flex-shrink-0">
                  <i class="bi bi-bullseye"></i>
                </div>
                <div>
                  <h3>Direct-to-Talent Access</h3>
                  <p>No bloated agency layers — you get senior-level strategy
                    from day one</p>

                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="service-card d-flex" data-aos="fade-up">
                <div class="icon flex-shrink-0">
                  <i class="bi bi-cash-coin"></i>
                </div>
                <div>
                  <h3>Lower Cost, Higher Value</h3>
                  <p>You save up to 60% compared to US-based agencies with
                    similar or better results
                  </p>

                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="service-card d-flex" data-aos="fade-up">
                <div class="icon flex-shrink-0">
                  <i class="bi bi-watch"></i>
                </div>
                <div>
                  <h3>Same Time Zone Response (If Needed)</h3>
                  <p>We adapt to your working hours — we're always on standby
                    when it matters </p>

                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="service-card d-flex" data-aos="fade-up">
                <div class="icon flex-shrink-0">
                  <i class="bi bi-translate"></i>
                </div>
                <div>
                  <h3>English Fluency & Cultural Familiarity</h3>
                  <p>We understand US markets, buying behaviors, and
                    communication styles</p>

                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="service-card d-flex" data-aos="fade-up">
                <div class="icon flex-shrink-0">
                  <i class="bi bi-graph-up-arrow"></i>
                </div>
                <div>
                  <h3>Proven Results in US Markets</h3>
                  <p>We've run $3M+ in ad spend — 80% of it in the US, across
                    multiple industries</p>

                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="service-card d-flex" data-aos="fade-up">
                <div class="icon flex-shrink-0">
                  <i class="bi bi-person-check"></i>

                </div>
                <div>
                  <h3>No Offshore Guesswork </h3>
                  <p>Unlike white-label services, we work directly with you and
                    treat your business like our own</p>

                </div>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="service-card d-flex" data-aos="fade-up">
                <div class="icon flex-shrink-0">
                  <i class="bi bi-magic"></i>

                </div>
                <div>
                  <h3>Bonus Thought </h3>
                  <p>“If US agencies are hiring Indian talent anyway… <br>
                    why not go straight to the source and save thousands each
                    month?”</p>
                  <p class="mt-2 fst-italic text-muted">
                    We’re not just “another offshore team.” We’re your
                    plug-and-play performance marketing partner.
                  </p>
                </div>
              </div>
            </div>

            <div class="audit aos-init aos-animate" data-aos="zoom-in">
              <a href="https://calendly.com/govind-outboundclick/30min?month=2025-06" target="_blanks"
                class="cutomeherobutton">Book a Free Audit
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>

  </section>
  <section class="chooes-section bg-colors" style="background-image:url(./img/shape2.png) ;">
    <div class="container-fluid ">
      <div class="row">
        <div class="col-md-6 col-12 ">
          <div class="section-title">
            <h2 data-aos="fade-up" class="text-left  mb-3">Why High-Growth
              Brands Choose Outbound Click
            </h2>
            <img class="spapeheading" src="img/shape.png">
          </div>

          <p data-aos="fade-up" class="text-left mb-5">Whether you're a startup
            or scaling brand,
            you'll work directly with
            a senior strategist — no fluff, no
            handoffs. </p>
          <div class="card" data-aos="fade-up"><i class="bi bi-rocket fs-1"></i>
            <div class="content-con"><span> $3M+ Ad Spend Managed</span></div>
          </div>

          <div class="card" data-aos="fade-up"><i class="bi bi-graph-up-arrow fs-1 "></i>
            <div class="content-con"> <span>Proven 5x ROAS Growth
                Playbook</span></div>
          </div>

          <div class="card" data-aos="fade-up"><i class="bi bi-person-check fs-1 "></i>
            <div class="content-con"> <span>Platform-Certified Experts
              </span></div>
          </div>

          <div class="card" data-aos="fade-up"> <i class="bi bi-search fs-1 "></i>
            <div class="content-con"> <span>No Guesswork – Just Data & Strategy
              </span></div>
          </div>

          <div class="card" data-aos="fade-up"> <i class="bi bi-heart fs-1"></i>
            <div class="content-con"><span>Personalized Service with a
                Small-Team Touch
              </span></div>
          </div>

        </div>
        <div class="col-md-6 col-12  sticky-div" data-aos="fade-up">
          <div class="why-higroth-right">
            <figure class="oneing overlay-anim">
              <img src="img/representation.jpg">

            </figure>
            <figure class="towimgs overlay-anim">
              <img src="img/about-2.jpg">
            </figure>

            <div class="experience bounce-y">
              <div class="inner">
                <i class="bi bi-people"></i>
                <div class="text"><strong>30+</strong> Years of
                  <br>experience
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </section>
  <section id="about" class="smarter-verty section">
    <div class="bg petern-bg" style="background-image: url(./img/pattern-2.jpg);"></div>
    <div class="container-fluid">

      <div class="row ">

        <div class="col-xl-6">
          <div class="image-wrapper mb4">
            <div class="imglist hfull" data-aos="fade-up">
              <figure class="imgrs"><img src="img/ai-img3.jpg"></figure>
              <figure class="imgrs"><img src="img/ai-img2.jpg"></figure>

            </div>
            <div class="vertys hfull" data-aos="fade-up">
              <img src="img/ai-img1.jpeg">
            </div>

          </div>
        </div>

        <div class="col-xl-6">
          <div class="left-smart-content">
            <h3 class="mb-3" data-aos="fade-up">Smarter Ads With 24/7 AI
              Monitoring</h3>
            <img class="spapeheading" src="img/shape.png">
            <p class="mb-3" data-aos="fade-up">Even the best campaigns can fall
              apart overnight —
              a broken
              link, a rejected ad, or a sudden drop in
              performance.</p>
            <ul class="itemsed">
              <li data-aos="fade-up">
                <div class="flex-items">
                  <div class="icon-design">
                    <i class="bi-check-circle-fill"></i>
                  </div>
                  <p>Alerts us instantly if your account has issues</p>
                </div>
              </li>
            </ul>
            <ul class="itemsed">
              <li data-aos="fade-up">
                <div class="flex-items">
                  <div class="icon-design">
                    <i class="bi-check-circle-fill"></i>
                  </div>
                  <p>Prevents unnecessary ad spend wastage</p>
                </div>
              </li>

            </ul>

            <ul class="itemsed">
              <li data-aos="fade-up">
                <div class="flex-items">
                  <div class="icon-design">
                    <i class="bi-check-circle-fill"></i>
                  </div>
                  <p> Keeps your campaigns optimized around the clock — even on
                    weekends & holidays </p>
                </div>
              </li>
            </ul>

            <div class="flex-itemds">
              <a href="https://calendly.com/govind-outboundclick/30min?month=2025-06" target="_blanks"
                class=" cutomeherobutton dark"><span>Book a Free
                  Audit</span>
              </a>

              <!-- <a href="#" class="videoiconsers"><i class="bi bi-play-fill"></i></a> -->
            </div>
          </div>
        </div>

      </div>

    </div>

  </section>

  <section id="testimonials" class="testimonials section">
    <div class="row m-0">
      <div class="col-xl-4 leftpaddings">
        <div class="section-title">
          <h2 data-aos="fade-up">What they’re talking about us
          </h2>
          <img src="img/shape.png" class="spapeheading">
          <p data-aos="fade-up">
            Hear from our satisfied clients who have experienced our services
            firsthand.
            Their words reflect our commitment to quality, innovation, and
            customer satisfaction.
          </p>
        </div>
      </div>

      <div class="col-xl-8">
        <app-testimonial></app-testimonial>

      </div>
    </div>
  </section>
  <section class="faq-9 faq section">
    <div class="bg petrens" style="background-image: url(./img/pattern-4.jpg);"></div>
    <div class="container-fluid">
      <div class="text-center position-relative" data-aos="fade-up">
        <h2 class="faq-title">You Might Be Wondering</h2>
        <img src="img/shape.png" class="spapeheading">
      </div>
      <div class="row">
        <div class="col-lg-6 ptops">
          <div class="faq-container">
            <app-faq></app-faq>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="flex-faqs">
            <div class="faq-arrow overlay-anim" data-aos="fade-up">
              <img src="img/faqs.jpg">
            </div>
            <div class="maincsertyu" data-aos="fade-up">
              <div class="ciral-prog">
                <circle-progress [percent]="100"></circle-progress>
                <h5>Affordable
                  cost</h5>
              </div>
              <div class="bottomscrial">
                <circle-progress [percent]="100"></circle-progress>
                <h5>Quality
                  of work</h5>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <section id="contact" class="contact section ">
    <div class="row m-0 ">
      <div class="col-lg-6">
        <div class="right-img" data-aos="fade-up">
          <img src="img/person-talking-video-call.jpg">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="contact-form">
          <div class="section-title" data-aos="fade-up">
            <h2>Ready to Scale With Paid Ads That Perform?
            </h2>
            <img src="img/shape.png" class="spapeheading">
          </div>
          <app-form></app-form>
          <div class="col-12 custmetop-border mt-3">
            <a target="_blank" href="https://calendly.com/govind-outboundclick/30min?month=2025-06"
              class="cutomeherobutton dark me-2" data-aos="fade-up">Book a
              Free Strategy Call</a>
            <a target="_blank" href="https://calendly.com/govind-outboundclick/30min?month=2025-06"
              class="cutomeherobutton dark" data-aos="fade-up">Get a
              Custom Proposal</a>
          </div>
          <div class="col-12  mt-3">
            <p class="text-muted small mb-0">We only take on a handful of
              clients per month — book your spot now.
            </p>
          </div>
          <div class="col-lg-12">
            <div class="flex-bledsr">
              <div class="case-study" data-aos="zoom-in">
                <div class="content-case">
                  <h5>Scaled a Supplement Brand from $25K/Month to $50K/Month
                    with 5x of ROAS
                  </h5>
                </div>
                <div class="icon-case">
                  <i class="bi bi-graph-up-arrow me-2"></i>
                </div>
              </div>
              <div class="case-study" data-aos="zoom-in">
                <div class="content-case">
                  <h5>$3M+ Ad Spend Managed</h5>
                </div>
                <div class="icon-case">
                  <i class="bi bi-person-lines-fill me-2"></i>
                </div>
              </div>
              <div class="case-study" data-aos="zoom-in">
                <div class="content-case">
                  <h5>Promoting product range from $15 to $500</h5>
                </div>
                <div class="icon-case">
                  <i class="bi bi-capsule-pill me-2"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bootom">
    <div class="slider">
      <div class="slide-track">

        <div class="slide">
          <img src="./img/client-website-logo1.svg" height="100" width="250" alt />
        </div>

        <div class="slide">
          <img class="sizing-fit" src="./img/main_logo.png" height="100" width="250" alt />
        </div>

        <div class="slide">
          <img src="./img/client-website-logo3.png" height="100" width="250" alt />
        </div>

        <div class="slide">
          <img class="sizing-fit" src="./img/clint-lodo-2.png" height="100" width="250" alt />
        </div>

        <div class="slide somlelogo">
          <img src="./img/client-website-logo5.webp" height="100" width="250" alt />
        </div>

        <div class="slide">
          <img src="./img/client-website-logo6.webp" height="100" width="250" alt />
        </div>

        <div class="slide">
          <img class="sizing-fit" src="./img/main_logo.png" height="100" width="250" alt />
        </div>

      <div class="slide">
          <img src="./img/clint-logo-4.png" height="100" width="250" alt />
        </div>

     <div class="slide">
          <img src="./img/tips2trade.png" height="100" width="250" alt />
        </div>

 
        <div class="slide">
          <img src="./img/client-website-logo1.svg" height="100" width="250" alt />
        </div>

        <div class="slide">
          <img class="sizing-fit" src="./img/main_logo.png" height="100" width="250" alt />
        </div>

        <div class="slide">
          <img src="./img/client-website-logo3.png" height="100" width="250" alt />
        </div>

        <div class="slide">
          <img class="sizing-fit" src="./img/clint-lodo-2.png" height="100" width="250" alt />
        </div>

        <div class="slide somlelogo">
          <img src="./img/client-website-logo5.webp" height="100" width="250" alt />
        </div>

        <div class="slide">
          <img src="./img/client-website-logo6.webp" height="100" width="250" alt />
        </div>

        <div class="slide">
          <img class="sizing-fit" src="./img/main_logo.png" height="100" width="250" alt />
        </div>

      <div class="slide">
          <img src="./img/clint-logo-4.png" height="100" width="250" alt />
        </div>

     <div class="slide">
          <img src="./img/tips2trade.png" height="100" width="250" alt />
        </div>





        

        <!-- Repeat as needed -->


      </div>
    </div>
  </section>

</main>