  
.review {
    display: flex;
    align-items: center;
}
.clutchflex {
    text-align: left;
    margin-bottom: 10px;
}
.card.sizes-pros {
    background-color: aliceblue;
}
    .review-box {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      flex: 1 1 100%;
      margin-bottom: 20px;
      justify-content: center;
    }

    .review-box img {
      height: 60px;
      margin-right: 15px;
    }
.main-flex {
    display: flex;
    gap: 24px;
}
    .stars {
      color: rgb(173, 147, 0);
      font-size: 24px;
      margin: 0 10px;
    }

    .rating {
      font-size: 18px;
    }
.card.absolutet img {
    height: revert-layer;
}
.card.absolutet {
    background-color: transparent;
    border: none;
}
    .card {  
      border-radius: 20px;
      padding: 30px 20px;
      text-align: center;
      color: #e4005d;
      font-weight: bold;
      font-size: 24px;
    }
    .trustsection .card{
width: 25%;
    }
    .chooes-section .content-con span {
    color: #333;
    font-weight: 600;
}
   .trustsection .card.sizes-pros:after {
    content: "";
    background: aliceblue;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 20px;
    opacity: 0.8;
    z-index: 9;
}
.trustsection .card.sizes-pros h4 span.sizes {
    min-height: 59px;
    margin-top: 10px;
    color: #333;
    font-weight: 600;
    font-size: 1.5rem;
}.trustsection .card.sizes-pros h4{
 color: #ce7685;
    font-weight: bold;
    font-size: 2rem;
}
   
.trustsection .card.sizes-pros img,.trustsection .card.sizes-pros h4,.trustsection .card.sizes-pros p{
    position: relative;
    z-index: 99;
}
 .trustsection  .card.sizes-pros {
    background-size: 111px;
    background-repeat: no-repeat;
    background-position: bottom 0px right 20px;
}
.rating {
    margin-left: 25px;
    text-align: left;
    line-height: 30px;
}
    .card p {
      margin: 10px 0 0;
      font-size: 16px;
      font-weight: 500;
      color: #333;
    }

    .cta-card {
      flex: 1 1 280px;
      background: linear-gradient(90deg, #923bde, #3276ff);
      color: white;
      border-radius: 20px;
      padding: 30px 20px;
      text-align: center;
    }

    .cta-card p {
      margin-bottom: 15px;
      font-size: 18px;
    }

    .cta-card a {
      display: inline-block;
      padding: 10px 20px;
      border: 2px solid #fff;
      color: #fff;
      text-decoration: none;
      border-radius: 25px;
      font-weight: bold;
    }
    .about-info p { 
    max-width: 70%;
    margin: 0 auto 30px;
}

    @media (max-width: 768px) {
      .review-box {
        flex-direction: column;
        align-items: center;
      }

      .review-box img {
        margin-bottom: 10px;
      }
      .main-flex {
    flex-wrap: wrap;
}
.trustsection .card {
    width: 100%;
}

.center-buonds a.cusumebutton { 
    width: 80% 
}
.about-problum { 
    flex-wrap: wrap ;
}
.about-grid { 
    display: block;
}
.col-md-6.col-12.sticky-div {
    display: none;
}
    }


    /******************/
body {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
}

.slide-track {
  display: flex;
  width: calc(250px * 14);
  animation: scroll 40s linear infinite;
}

.slide {
  height: 100px;
  width: 250px;
}

