main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.thankyou-box  {
    text-align: center;
    background: white;
    padding: 50px 170px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    margin-top: 140px;
    margin-bottom: 30px;
}

.icon {
  width: 60px;
  margin-bottom: 20px;
  filter: invert(47%) sepia(91%) saturate(747%) hue-rotate(214deg) brightness(101%) contrast(101%);
}

h1 {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 600;
}

p {
  color: #555;
  margin-bottom: 30px;
}

.btn {
  padding: 12px 30px;
  background: linear-gradient(45deg, #ff0080, #007cf0);
  color: white;
  border: none;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}